@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<h1 class="mt-4">Admin Rapor Ekranı</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Bloglar İle İlgili Yapılacak</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">Detaylar</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
            <div class="card-body">Toplam İletişim Gönderen Sayısı <span style="color:white"><b>(@ViewBag.ContactCount)</b></span></div>
                
                        <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="/AdminIletisim/Liste">Detaylar</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
            <div class="card-body">Siteye Giren Kişi Sayısı <span style="color:white"><b>(@ViewBag.WebLogCount)</b></span></div>
   
                        <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="/AdminWebLog/Liste">Detaylar</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
            <div class="card-body">Admin Login Panel Hatalı Giriş <span style="color:white"><b>(@ViewBag.AdminLoginErrorCount)</b></span></div>

                        <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="/AdminHataliGiris/Liste">Detayları Gör</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                          Aylara Göre İletişim Gönderenler - @DateTime.Now.Year.ToString()
                        </div>
            <div class="card-body">
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                Aylara Göre Siteye Giriş - @DateTime.Now.Year.ToString()
                        </div>
            <div class="card-body">
                <canvas id="myChart1" width="400" height="200"></canvas>
            </div>
                    </div>
                </div>
            </div>